.navbar {
	height: 70px;
	/* background: rgba(255,255,255,0.3); */
}

i.inav {
		height: 70px;
		width: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #0c3d4a;
		font-size: 1.6rem;
		cursor: pointer;
		transition: 0.4s all;

		&:focus {
			color: #056a86;
		}
		&:hover{
			color: #fff;
			background-color:#819ea5!important;
			border-radius:5px;
			opacity:0.8;
			transform: scale(1.2)
		}

}


.active {
	i.inav{color: rgb(239, 239, 239);}
	height: 80px;
	background-color: #819ea5;
}

h1 {
	a {
		color: #0c3d4a;
		text-decoration: none;
		font-family: Oswald, sans-serif;
		font-weight: bold;
		font-size: 2rem;

		&:hover,
		&:focus {
			color: #056a86;
			text-decoration: dashed;
		}
	}
}

