@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.main-b{
 
background-color: #36616c ;
}

.container-main{
  background-color: #F8F9FA;
  margin-inline: 20px;
  margin-top: 25px;
  margin-bottom: 20px
}