div.transparentbox{
  background: rgba(255,255,255,0.3);
  margin-top: 10px;
  
}

button.btn-login{
  border-radius: 15px;
  width: 15rem;
  margin:10px;
  opacity: 0.8;
  font-family: Oswald,sans-serif;
  font-size: 1em;
}

label.transparentbox {
  margin: 10px;
}

label.transparentbox ::placeholder {
  text-align: center;
  color: white;
  font-weight: 200;
}

input.loginput {
  height: 35px;
  width: 15rem;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.4);  
  background: rgba(0,0,0,0.4);
  color: white;
}